@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

body {
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  font-weight: 1.5em;
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  background-color: var(--fundo-principal);
  gap: 20px;
}

header {
  background-color: var(--destaque);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav#menu a {
  font-size: 1.2em;
  color: var(--texto-inverso);
  padding: 12px 15px;
}

div#ficha img.foto {
  width: 250px;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  margin-bottom: 10px;
}

div#ficha {
  background-color: var(--fundo-card);
  border-radius: 8px;
  margin-top: 20px;
  grid-column: 2;
  padding: 20px;
}

div#ficha h1 {
  color: var(--destaque);
  text-align: left;
  margin-bottom: 10px;
}

div#ficha p {
  text-align: justify;
  color: var(--texto);
  font-size: 1.2em;
}

div.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
}

div.social a {
  color: var(--destaque);
  font-size: 2em;
}

div#detalhes {
  grid-column: 2;
  padding: 20px;
  border-radius: 8px;
  gap: 10px;
}

div#detalhes h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}

article#video {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
}

article#video iframe {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-fit: cover;
  border-radius: 8px;
} 

article#skill {
  background-color: var(--fundo-card);
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}

div.skill-container {
  display: grid;
  grid-template-columns: 1fr;
}

div.habilidade {
  margin-top: 15px;
}

span.nome {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--texto);
}

span.quantia {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--destaque-inverso);
}

div.barra {
  background-color: var(--fundo-principal);
  width: 100%;
  height: 10px;
  border-radius: 4px;
  margin-top: 2px;
}

div.porcent {
  background-color: var(--destaque-inverso);
  height: 100%;
  border-radius: 4px;
}

div.space {
  display: flex;
  justify-content: space-between;
}

article#formacao {
  background-color: var(--fundo-card);
  margin-top: 30px;
  border-radius: 8px;
  padding: 20px;
}

div.formacao-container {
  display: flex;
  flex-direction: column-reverse;
}

div.info-formacao {
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  margin-top: 20px;
  transition: border-left 0.5s, border-left-width 0.5s;
}

div.info-formacao:hover {
  border-left: 5px solid var(--destaque);
  border-left-width: 20px;
  cursor: pointer;
}

p.ano {
  font-weight: bold;
  font-size: 1.1em;
}

h3.instituicao {
  color: var(--destaque-inverso);
  margin-top: 3px;
  font-size: 1.4em;
}

p.curso {
  font-size: 1.2em;
  margin-top: 3px;
}

article#projetos {
  background-color: var(--fundo-card);
  margin-top: 30px;
  border-radius: 8px;
  padding: 20px;
}

div.projeto {
  border-left: 5px solid var(--destaque-inverso);
  padding: 10px;
  border-radius: 8px;
  transition: border-left 0.5s, border-left-width 0.5s;
  background-color: var(--fundo-principal);
}

div.projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px
}

div.projeto:hover {
  border-left: 5px solid var(--destaque);
  cursor: pointer;
  border-left-width: 20px;
}

div.projeto img.foto {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-fit: cover;
  margin: 15px 0px;
}

p.ano {
  font-weight: none;
  font-size: 1.1em;
}

div.projeto h2 {
  font-size: 1.8em;
}

p.info {
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 5px;
}

div.projeto summary {
  font-size: 1.2em;
}

details p {
  font-size: 1.2em;
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-size: 1.2em;
}

footer a:hover {
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
    align-items: start;
  }

  div#ficha {
    grid-column: 2;
    position: sticky;
    top: 65px;
  }

  div#detalhes {
    grid-column: 3;
  }

  div.skill-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  div.projeto {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  div.info-projeto {
    width: 60%;
  }

  div.imagem img.foto {
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    height: 200px;
  }


}