@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

header.normal {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.4em;
}

p {
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

section.flex-content {
    background-color: rgb(156, 156, 156);
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media {
    flex: 1 1 400px;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.media > img {
    display: block;
    margin: auto;
    width: 350px;
    
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}

section.normal {
    padding: 20px;
}