@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------------
Pequenas telas: Até 480px
Celular: de 481px até 768px
Tablet: de 1025px até 1280px
Desktop: de 1281px até 1440px
Grandes Telas: 1441px ou mais
----------------------------------
*/

@media screen and (min-width: 1025px) {

    footer {
        height: 100px;
    }

    footer ul {
        margin-top: 15px;
    }

    footer a {
        font-size: 2em;
        margin-left: 30px;
    }

    footer li{
        display: inline;
    }

}