@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.384);
}

nav a {
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.5s;
    
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 2em;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 8px;
}

main p {
    font-size: 1em;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    margin: 15px 0px;

}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    background-color: var(--cor1);
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}


div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.25%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    
}

aside h3 {
    background-color: var(--cor5);
    padding: 10px;
    margin: -21px -20px 0px -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}