@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 100px 50px 1fr 50px;
    gap: 5px;
}

.topo {
    background-color: red;
    color: white;
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
}

.menu {
    background-color: green;
    color: white;
    text-align: center;
    grid-area: 2 / 1 / 3 / 3;
    
}

.principal {
    background-color: blue;
    color: white;
    text-align: center;
    grid-area: 3 / 1 / 4 / 2;
}

.secundario {
    background-color: yellow;
    color: white;
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}

.rodape {
    background-color: orange;
    color: white;
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
    
}