@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------------
Pequenas telas: Até 480px
Celular: de 481px até 768px
Tablet: de 1025px até 1280px
Desktop: de 1281px até 1440px
Grandes Telas: 1441px ou mais
----------------------------------
*/

@media print { /* IMPRESSÃO */
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url('../imagens/back-print.jpg'); /* NÃO FUNCIONA */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi gerada pelo site www.cursoemvideo.com';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) { /* TABLET */
    body {
        background-image: url('../imagens/back-tablet.jpg')
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) { /* DESKTOP */
    body {
        background-image: url('../imagens/back-pc.jpg')
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}

}

@media  screen and (min-width: 1441px){ /* TELAS GRANDES */
    body {
        background-image: url('../imagens/back-tv.jpg')
    }

    main {
        width: 700px;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
    
}