@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------------
Pequenas telas: Até 480px
Celular: de 481px até 768px
Tablet: de 1025px até 1280px
Desktop: de 1281px até 1440px
Grandes Telas: 1441px ou mais
----------------------------------
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(167, 165, 165);
}

header > h1 {
    text-align: center;
    padding: 20px;
}

span#burguer {
    background-color: rgb(46, 46, 46);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(87, 87, 87);
    text-align: center;
    color: white;
    text-decoration: none;
}

menu a:hover {
    background-color: gray
}

main {
    width: 90vw;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

article > h2 {
    margin-bottom: 20px;
}

article > p {
    margin-bottom: 20px;
}
