@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 23px;
    width: 264px;
    height: 469px;
}

section#redes-sociais {
    text-align: right;
}


section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.5s, border 0.5s;
} 

