@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header > h1 {
    border: 1px dotted black;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}